@{
    ViewBag.Title = "Home Page";
}

@section styles{

    <link href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/iziModal.css" rel="stylesheet" />
}

<!-- Content Wrapper. Contains page content -->
@*<div class="content-wrapper">*@
<!-- Content Header (Page header) -->

<section class="content-header">
    <h1>
        @*Dashboard
        <small>Control panel</small>*@
    </h1>
</section>
<!-- Main content -->
<section class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <div id="user-dropdown"  class="form-group"></div>
        </div>
    </div>

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="today"></h3>
                    <p>Document Uploads <strong>(Today)</strong></p>
                </div>
                <div class="icon">
                    <i class="ion ion-document"></i>
                </div>
                <div href="#" class="small-box-footer"></div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 id="last-week"></h3>
                    <p>Document Uploads <strong>(Last Week)</strong></p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <div href="#" class="small-box-footer"></div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="last-month"></h3>
                    <p>Document Uploads <strong>(Last Month)</strong></p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <div href="#" class="small-box-footer"></div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 id="total"></h3>
                    <p>Total Upload</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <div href="#" class="small-box-footer"></div>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <!-- /.row -->

    <div class="box">
       
        <!-- /.box-header -->
        <div class="box-body">

            <table id="search" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Ministry/Division</th>
                        <th>Department</th>
                        <th>GO code</th>
                        <th>Branch/Unit code</th>
                        <th>Out word</th>
                        <th>Uploaded</th>
                        <th>Subject</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbl-body"></tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
    </div>

    <div id="show-modal" class="modal" data-modal="true" data-izimodal-transitionin="fadeInDown" data-izimodal-transitionout="bounceOutDown" data-title="Digital Filing System" data-width="800" data-height="500" data-izimodal-zindex="9999999">

        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Document View</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div id="image-index">
                <div class="box-body">
                    <div class="form-group">
                        <strong>Letter No</strong>
                        <div class="col-md-12" id="letter-no">
                            <div class="col-md-1 mrg-b-5">
                                <span id="mdivision-code"></span>
                            </div>
                            <div class="col-md-1 mrg-b-5">
                                <span id="mdepartment-code"></span>
                            </div>
                            <div class="col-md-1 mrg-b-5">
                                <span id="mgo-code"></span>
                            </div>
                            <div class="col-md-2 mrg-b-5">
                                <span id="mdesk-code"></span>
                            </div>
                            <div class="col-md-1 mrg-b-5">
                                <span id="msubject-code"></span>
                            </div>
                            <div class="col-md-2 mrg-b-5">
                                <span id="mfile-code"></span>
                            </div>
                            <div class="col-md-2 mrg-b-5">
                                <span id="mfile-open-year"></span>
                            </div>
                            <div class="col-md-2 mrg-b-5">
                                <span id="mletter-no"></span>
                            </div>
                            <div class="col-md-2 mrg-b-5">
                                <span id="mmetting-minute"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered">
                            <!-- <tr>
                                <td >Informatted Letter No</td>
                                <td>: <span id="minformatted-letter-no"></span></td>
                            </tr> -->
                            <tr>
                                <td style="width: 150px">Subject</td>
                                <td>: <span id="mletter-subject"></span></td>
                            </tr>
                            <tr>
                                <td style="width: 150px">Keyword</td>
                                <td>: <span id="mletter-subject"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-8 table" style="margin-top:10px">
                        <table class="table table-bordered" id="image-table"></table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
@*</div>*@
@*<button class="btn btn-success" onclick="up()">submit</button>*@

@section scripts{
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/iziModal.js"></script>
    <script>

        function downloadFile(id) {
            window.open('/Home/DownloadFile/' + id, '_blank');
            return false;
        }

        function checkNull(data) {
            if (data) {
                return data;
            } else {
                return '-';
            }
        }

        function getDashboard() {
            $.ajax({
                url: "/Home/GetDashboard/",
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    $('#today').text(response.Today);
                    $('#last-week').text(response.LastWeek);
                    $('#last-month').text(response.LastMonth);
                    $('#total').text(response.Total);
                },
                error: function (err) {
                    console.log(err);
                    swal({
                        title: "Failed",
                        text: err,
                        type: "error"
                    });
                }
            });
        }

        function showModal(data) {
            $("#mletter-subject").text(checkNull(data.Subject));
            $("#mletter-keyword").text(checkNull(data.Keyword));
            $("#mdivision-code").text(checkNull(data.DivisonCode));
            $("#mdepartment-code").text(checkNull(data.DepartmentCode));
            $("#mgo-code").text(checkNull(data.GOCode));
            $("#mdesk-code").text(checkNull(data.DeskCode));
            $("#msubject-code").text(checkNull(data.SubjectCode));
            $("#mfile-code").text(checkNull(data.FileCode));
            $("#mfile-open-year").text(checkNull(data.FileOpenYear));
            $("#mletter-no").text(checkNull(data.LetterNo));
            $("#mmetting-minute").text(checkNull(data.MeetingMinute));
            $("#minformatted-letter-no").val(checkNull(data.InformattedLetterNo));

            if (data.Files) {
                $('#image-table > tbody').remove();
                $('#image-table').append('<tbody></tbody>');
                var newRow = '';
                for (var i = 0; i < data.Files.length; i++) {
                    let img = data.Files[i];
                    newRow += '<tr><td><img src="/uploads/file.png" height="90" width="120"  onclick=downloadFile("' + img.Id + '") /><td><td><span>' + img.Name + ' </span></td></tr>';
                }
                $('#image-table').append(newRow);
            }

            $("[data-modal='true']").iziModal('open');

            //$("#show-modal").dialog({
            //    width: 650
            //});
        }

        function showDocument(data) {

            $.ajax({
                url: "/Home/GetImageIndexById/" + data,
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    if (response && response.data) {
                        showModal(response.data);
                    }
                },
                error: function (err) {
                    console.log(err);
                    swal({
                        title: "Failed",
                        text: err,
                        type: "error"
                    });
                }
            });
        }

        function generateGrid(data) {
            $('#search > tbody').remove();
            $('#search').append('<tbody></tbody>');

            var newRows = '';
            for (var i = 0; i < data.length; i++) {
                var row = data[i];
                var nowDate = new Date(parseInt(row.UploadedDate.substr(6)));
                newRows += '<tr><td>' + checkNull(row.DivisonCode) +
                    ' </td><td> ' + checkNull(row.DepartmentCode) +
                    ' </td > <td> ' + checkNull(row.GOCode) +
                    ' </td > <td> ' + checkNull(row.DeskCode) +
                    ' </td > <td> ' + checkNull(row.LetterNo) +
                    ' </td> <td> ' + nowDate.getDate() + '-' + nowDate.getMonth() + '-' + nowDate.getFullYear() +
                    ' </td> <td> ' + checkNull(row.Subject) +
                    ' </td> <td> ' + checkNull(row.FileType) +
                    '</td> <td>  <button class="btn btn-info" onclick=showDocument("' + row.IndexId + '")> <i class="fa fa-eye" aria-hidden="true"></i>  </button> ' +
                    ' </td></th > ';
            }
            $('#search  tbody').append(newRows);

            if ($.fn.dataTable.isDataTable('#search')) {
                table = $('#search').DataTable();
            }
            else {
                table = $('#search').DataTable({
                    'paging': true,
                    'lengthChange': false,
                    'searching': true,
                    'ordering': true,
                    'info': true,
                    'autoWidth': false
                });
            }
        }

        function getRecentData() {
            $('body').addClass('loading');
            $.ajax({
                url: "/Home/GetRecentImage",
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    $('body').removeClass('loading');
                    if (response && response.data) {
                        generateGrid(response.data);
                    }
                },
                error: function (err) {
                    $('body').removeClass('loading');
                    swal({
                        title: "Failed",
                        text: err,
                        type: "error"
                    });
                }
            });
        }

        function getReportByUse() {
            var id = $("#username option:selected").val(); 

            $.ajax({
                url: "/Home/GetReport/" + id,
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    $('#today').text(response.Today);
                    $('#last-week').text(response.LastWeek);
                    $('#last-month').text(response.LastMonth);
                    $('#total').text(response.Total);
                },
                error: function (err) {
                    console.log(err);
                    swal({
                        title: "Failed",
                        text: err,
                        type: "error"
                    });
                }
            });
        }

        function setUserDropdown() {
            $('body').addClass('loading');
            $.ajax({
                url: "/Home/GetAllUser",
                type: "GET",
                contentType: "application/json",
                success: function (data) {
                    $('body').removeClass('loading');
                    var s = $('<select id="username" onchange=getReportByUse() class="form-control select2" style="width: 100%;" />');
                    $('<option />', { value: '', text: '-- select user --' }).appendTo(s);
                    for (var val in data) {
                        $('<option />', { value: data[val].Id, text: data[val].Email }).appendTo(s);
                    }
                    s.appendTo('#user-dropdown');
                },
                error: function (err) {
                    $('body').removeClass('loading');
                    swal({
                        title: "Failed",
                        text: err,
                        type: "error"
                    });
                }
            });
        }

        $(document).ready(function () {
            setUserDropdown();
            getDashboard()
            $("#dialog").hide();
            getRecentData();

            $('#example').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });

            $("[data-modal='true']").iziModal();
        })
    </script>

}